@media screen and (max-width: 1280px){

    .content-title{
        margin-right: 10rem;
    }

    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
    }
    .content img {
        width: 100%;
        position: relative;
        top: -5rem;
    }
    .content div {
       width: 100%;
       display: block;
    }

    .content div h2, h4, a{
        width: 100%;
        position: relative;
    }
    .content h2 {
        top: -4rem;
    }
    .content h4 {
        top: -4rem;
        left: -1rem;
    }
    .content a {
        left: -0.02rem;
    }
    

    .content div h2{
        font-family: var(--subtitle-regular);
        color: var(--turquoise);
        font-size: 4rem;
        margin-left: -1.4rem;
        padding-top: 2%;
    }

    .ingredients{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px){

    .content-title{
        font-size: 6rem !important;
    }

    .content{
        margin-right: 4rem !important;
    }
}

@media screen and (max-width: 481px){

    .main__container{
        width: 90vw;
    }

    .ingredients{
        font-size: 1.5rem;
    }
}