.apanel-container {
    width: 100vw;
    height: 100vh;
}

/***********************************/
/*********** NAV PANEL *************/
/***********************************/

.nav-panel {
    width: 420px;
    height: 100%;
    position: fixed;
    background-color: #333;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

h2, span {
    color: var(--white);
    font-family: var(--body-font);
}

.nav-panel ul {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.nav-panel ul li {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.nav-panel ul li:first-child {
    padding: 4rem 2rem;
}

.nav-panel ul li:last-child {
    margin-top: auto;
}

.nav-panel ul li:hover {
    background-color: #4d4d4d;
}

.nav-panel ul li:nth-child(1):hover {
    background-color: #4d4d4d;
}

.nav-panel ul li a {
    width: 100%;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-panel .title {
    padding-left: 2rem;
    display: inline-flex;
}

.nav-panel span {
    font-size: 2.5rem;
}

.nav-panel .icon-title {
    min-width: 3.8rem !important;
    height: 3.8rem !important;
}

.nav-panel .icon {
    display: inline-block;
    min-width: 3rem;
    height: 3rem;
    line-height: 60px;
    padding-right: 1rem;
    background-position: center;
    background-size: cover;
}

.i-cake {
    background-image: url('/static/resources/img/l-cake.png');
}

.i-pass {
    background-image: url('/static/resources/img/lock.png');
}

.i-customers {
    background-image: url('/static/resources/img/user.png');
}

.i-employees {
    background-image: url('/static/resources/img/employees.png');
}

.i-products {
    background-image: url('/static/resources/img/products.png');
}

.i-s-products {
    background-image: url('/static/resources/img/s-products.png');
}

.i-orders {
    background-image: url('/static/resources/img/orders.png');
}

.i-logout {
    background-image: url('/static/resources/img/logout.png');
}

.nav-panel h2{
    font-size: 5rem;
    font-weight: bold;
}

/************************************/
/*********** MAIN PANEL *************/
/************************************/

.content-panel {
    position: absolute;
    width: calc(100% - 420px);
    left: 420px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.content-panel .topbar {
    width: 100%;
    height: 60px;
    background-color: var(--turquoise);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
