body {
    background: var(--tan);
    /* https://www.behance.net/gallery/60867921/Magic-Sushi */
}


header {
    background:  linear-gradient(to bottom, rgba(156, 122, 90, 0.466) 0%, rgba(123, 141, 143, 0.459) 100%);
    width: 100vw;
    height: 100vh;
}
header::before {
    content: '';
    background: url(/static/resources/img/header-img2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
header h1 {
    color: var(--light-blue);
    text-shadow: #3f3f3f 3px 5px 2px;
    text-align: center;
    font-size: 12rem;
    padding-top: 8rem;
}
header a img {
    background: var(--light-blue);
    width: 4.5rem;
    position: fixed;
    top: 2.75rem;
    right: 4.5rem;
    z-index: 3;
}
.logo, header h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 3;
}
.logo {
    background: url(/static/resources/img/LOGO-LB.png);
    background-size: cover;
    width: 35rem;
    height: 35rem;
    filter: drop-shadow(1px 5px 1px rgba(46, 46, 46, 0.582));
    -webkit-filter: drop-shadow(1px 5px 1px rgba(46, 46, 46, 0.582));
}
header h2 {
    color: var(--white);
    text-align: center;
    font-size: 4rem;
    top: 55%;
    z-index: 3;
    text-shadow: #3f3f3f94 3px 1px 2px;
}
header nav {
    width: 88vw;
    margin: 0 auto;
}
nav .menu-items {
    background: #ffbe69c7;
    text-align: center;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
nav .menu-items li {
    margin: 0 auto;
}
nav .menu-items li a {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);    
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
nav .menu-items li a::before {
    content: attr(data-item);
    color: #2EC4B6;
    bottom: 25%;
    left: 0;
    right: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}
nav .menu-items li a:hover {
    text-shadow: none;  
}
nav .menu-items li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}
#arrow-icon {
    width: 10rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation-name: pulse-arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    filter: invert(58%) sepia(79%) saturate(391%) hue-rotate(125deg) brightness(98%) contrast(86%)  drop-shadow(3px 3px 5px #313131);
    -webkit-filter: invert(58%) sepia(79%) saturate(391%) hue-rotate(125deg) brightness(98%) contrast(86%)  drop-shadow(3px 3px 5px #313131);
}



#main_section {
    background: var(--light-blue);
    border: 7px solid var(--white);
    width: 87vw;
    margin: 0 auto;
    position: relative;
    top: 6vh;
}
#main_section h2 {
    color: var(--dark-golden);
    text-align: center;
    text-shadow: 1px 1px 3px rgba(27, 27, 27, 0.411);
    font-size: 4.2rem;
    margin: 7rem;
}
#main_section::before {
    content: '';
    background: var(--white);
    width: 120vw;
    height: 17vh;
    top: -8vh;
    left: -8vw;
    position: absolute;
    z-index: -3;
}
.video__container {
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.video__container::before {
    content: '';
    background: url(/static/resources/img/ornament1.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 30vw;
    height: 5rem;
    z-index: 5;
    top: -5.5%;
    left: 0;
}
video {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  top: -5%;
}

.popular-products {
    margin: 8vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pp-card {
    background: var(--turquoise);
    color: var(--light-blue);
    width: 12vw;
    height: 32vh;
    margin: 0 1.8rem;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.pp-card:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    filter: drop-shadow(1px 2px 5px rgba(71, 71, 71, 0.582));
    -webkit-filter: drop-shadow(1px 2px 5px rgb(71, 71, 71));
}
.pp-card img {
    width: 11.5rem;
    position: relative;
    top: -3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid var(--turquoise);
}
.pp-card h4 {
    color: var(--tan);
    font-size: 4rem;
    margin-top: -1.2rem;
}
.pp-card p {
    font-family: var(--body-font);
    font-size: 1.7rem;
    width: 87%;
    margin: 3rem auto;
}


.bakery-food {
    background: var(--white);
    color: var(--white);
    width: 100%;
    height: 75vh;
    margin: 5.3vh 0;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "element1 element1 element2 element3"
        "element4 element5 element5 element3"
    ;
}
.bakery-food div {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.bakery-food h3 {
    font-family: var(--subtitle-regular);
    font-weight: 900;
    font-size: 5rem;
    margin: -5rem 0;
}
.bakery-food p {
    font-family: var(--body-font);
    font-size: 2.4rem;
    width: 90%;
    margin: 0 auto;
}
.bakery-food div {
    background-repeat: no-repeat;
    background-size: cover;
}
.bf-element1 {
    background: url(/static/resources/img/INDEX-section.jpg);
    grid-area: element1;
    background-position: top;
}
.bf-element2 {
    background: url(/static/resources/img/INDEX-section3.jpg);
    grid-area: element2;
}
.bf-element3 {
    background: url(/static/resources/img/INDEX-section2.webp);
    grid-area: element3;
}
.bf-element4 {
    background: url(/static/resources/img/INDEX-section4.webp);
    grid-area: element4;
}
.bf-element5 {
    background: url(/static/resources/img/INDEX-section5.jpg);
    color: var(--dark-golden);
    grid-area: element5;
}
.bf-element5 h3{
    text-align: left;
    padding-left: 3rem;
}
.bf-element5 p {
    text-align: left;
    width: 40%;
    margin: 0 auto 0 3rem;
}

footer {
    background: var(--tan);
    height: 50vh;
    margin-top: 10rem;
}
.waves {
    position: relative;
    bottom: -20%;
    left: 0;
    right: 0;
    height: 300px;
    background-color: var(--turquoise);
    transition: 5000ms;
    -webkit-transition: 5000ms;
    -moz-transition: 5000ms;
    -ms-transition: 5000ms;
    -o-transition: 5000ms;
    overflow: hidden;
}
.waves::before, .waves::after {
    content: '';
    width: 300vw;
    height: 300vw;
    position: absolute;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
    -webkit-transform: translate(-50%, -75%);
    -moz-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    -o-transform: translate(-50%, -75%);
}
.waves::before {
    background: var(--light-blue);
    border-radius: 44%;
    animation: waves 12s linear infinite;
    -webkit-animation: waves 12s linear infinite;
}

.waves::after {
    background: var(--tan);
    border-radius: 44%;
    animation: waves 15s linear infinite;
    -webkit-animation: waves 20s linear infinite;
}


/* KEYFRAMES */
@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
        -webkit-transform: translate(-50%, -75%) rotate(0deg);
        -moz-transform: translate(-50%, -75%) rotate(0deg);
        -ms-transform: translate(-50%, -75%) rotate(0deg);
        -o-transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
        -webkit-transform: translate(-50%, -75%) rotate(360deg);
        -moz-transform: translate(-50%, -75%) rotate(360deg);
        -ms-transform: translate(-50%, -75%) rotate(360deg);
        -o-transform: translate(-50%, -75%) rotate(360deg);
    }
}
@keyframes fade-in-right {
    from {
        left: -110vw;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes pulse-arrow {
    50% {
        width: 12rem;
    }
    100% {
        width: 10rem;
    }
}
