body {
    background: var(--tan);
    /* https://www.behance.net/gallery/60867921/Magic-Sushi */
}


header {
    background: url(/static/resources/img/header-img2.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
header::before {
    content: '';
    background: rgba(247, 247, 247, 0.555);
    width: 33vw;
    height: 90vh;
    top: 10vh;
    position: absolute;
    border-radius: 0 5px;
    -webkit-border-radius: 0 5px;
    -moz-border-radius: 0 5px;
    -ms-border-radius: 0 5px;
    -o-border-radius: 0 5px;
    z-index: 0;
}
header h1 {
    color: var(--light-blue);
    text-shadow: #3f3f3f 3px 5px 2px;
    text-align: center;
    font-size: 12rem;
    padding-top: 8rem;
}
header a img {
    background: var(--light-blue);
    width: 4.5rem;
    position: fixed;
    top: 2.75rem;
    right: 4.5rem;
    z-index: 3;
}
.logo, header h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 3;
}
.logo {
    background: url(/static/resources/img/LOGO-LB.png);
    background-size: cover;
    width: 35rem;
    height: 35rem;
    filter: drop-shadow(1px 5px 1px rgba(46, 46, 46, 0.582));
    -webkit-filter: drop-shadow(1px 5px 1px rgba(46, 46, 46, 0.582));
}
header h2 {
    color: var(--white);
    font-size: 4rem;
    top: 55%;
    z-index: 3;
    text-shadow: #3f3f3f94 3px 1px 2px;
}
header nav {
    width: 80vw;
    margin: 0 auto;
}
nav .menu-items {
    background: #ffbe69c7;
    text-align: center;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
nav .menu-items li {

    margin: 0 auto;
}
nav .menu-items li a {
    color: var(--white);
    font-family: var(--body-font);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);    
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
nav .menu-items li a::before {
    content: attr(data-item);
    color: #2EC4B6;
    bottom: 25%;
    left: 0;
    right: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}
nav .menu-items li a:hover {
    text-shadow: none;  
}
nav .menu-items li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}


.carousel__container {
    background: #2EC4B6;
    width: 85vw;
    height: 85vh;
    margin: 0 auto;
    position: relative;
    top: -40vh;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    display: flex;
}
.carousel_item {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    animation-name: carousel-slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 0%;
}
.carousel_item:nth-child(1) {
    background-size: cover;
    background: url(/static/resources/img/header1.jpg);
    background-position: center center;
    left: -100%;
}
.carousel_item:nth-child(2) {
    background: url(/static/resources/img/header-carousel2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    left: -200%;
}
.carousel_item:nth-child(3) {
    background: url(/static/resources/img/header-carousel3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

@keyframes carousel-slide {
    to {
        left: -100%;
    }
}


.waves {
    position: absolute;
    bottom: -30vh;
    left: 0;
    right: 0;
    height: 250px;
    background-color: var(--dark-golden);
    transition: 5000ms;
    -webkit-transition: 5000ms;
    -moz-transition: 5000ms;
    -ms-transition: 5000ms;
    -o-transition: 5000ms;
    overflow: hidden;
}
.waves::before, .waves::after {
    content: '';
    width: 300vw;
    height: 300vw;
    position: absolute;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
    -webkit-transform: translate(-50%, -75%);
    -moz-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    -o-transform: translate(-50%, -75%);
}
.waves::before {
    background: #ffbf69;
    border-radius: 44%;
    animation: waves 12s linear infinite;
    -webkit-animation: waves 12s linear infinite;
}

.waves::after {
    background: #2EC4B6;
    border-radius: 44%;
    animation: waves 15s linear infinite;
    -webkit-animation: waves 20s linear infinite;
}


/* KEYFRAMES */
@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
        -webkit-transform: translate(-50%, -75%) rotate(0deg);
        -moz-transform: translate(-50%, -75%) rotate(0deg);
        -ms-transform: translate(-50%, -75%) rotate(0deg);
        -o-transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
        -webkit-transform: translate(-50%, -75%) rotate(360deg);
        -moz-transform: translate(-50%, -75%) rotate(360deg);
        -ms-transform: translate(-50%, -75%) rotate(360deg);
        -o-transform: translate(-50%, -75%) rotate(360deg);
    }
}
@keyframes fade-in-right {
    from {
        left: -110vw;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
