* {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--body-font);
}

html, body, div, form {
    margin-right: 0;
}


.item-background{
    width: 100%;
    height: 100vh;
    background-image: url('/static/resources/img/cake.jpg');
    background-position: -150% 50%;
    background-repeat: no-repeat;
    background-size: 80%;
    filter: blur(0.4rem);
 }

/*********** CONTAINER *************/

.container-register {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.form-item {
    position: relative;
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    background-color: var(--white);
    box-shadow: 6px 6px 12px grey;
}

.left-content {
    width: 50%;
    height: 100%;
    background-image: url('/static/resources/img/cake.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.right-content {
    width: 50%;
    height: 100%;
    padding: calc(20px + 1.4rem);
    background-color: var(--white);
}

.form-item form {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    position: relative; */
}

.list-tabs {
    height: 15%;
    width: 90%;
    display: inline-flex;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.timeline_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: black;
}

.list-tabs .tab {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: black;
}

.t1 {
    left: 0;
}

.t2 {
    left: 47%;
}

.t3 {
    left: 94.7%;
}


/* .active-t {
    color: var(--white) !important;
    background-color: rgba(255, 159, 28, 1) !important;
	border: 2px solid rgba(252, 252, 252, 1) !important;
} */

label {
    font-size: 1.8rem;
    font-weight: 500;
    width: 80%;
    height: 3rem;
    margin-top: 2%;
}

input {
    border-style: none;
    background-color: #b3ac8e73;
    border-radius: 0.4rem;
    height: 3rem;
    width: 80%;
    height: 3rem;
    margin: 1%;
}

input:focus {
    outline: 2px solid #512907;
    z-index: 1;
}

.form-content {
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute; */
    display: none;
    /*color: #2d1c0c*/
}

.show {
    display: flex;
}
