* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: vegetables;
    src: url(/static/fonts/vegetables/vegetables.ttf);
}

@import url(fonts.css);
h1 {
    font-family: vegetables;
}




/* *********************************************************************************************************************************** */
/* ************************************************************** FONTS ************************************************************** */
/* *********************************************************************************************************************************** */


